/*Seccion general*/
html, body {  
    margin:0px;  
    height:100%;
    font-family: 'Roboto', sans-serif;  
  } 

/*Seccion Nav*/
.bg-header{
    background-image: url('../img/carousel1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100%;
}


/*Seccion footer*/
footer a {
  color: white;
  text-decoration: none;
}